/*#5AC4EF*/
/*#041D46*/
/*#A1CD82*/
/*#6CB13B*/
/*#457026*/
/*#0398A3*/
/*#5FBDC4*/
/*77787B*/
/*484848*/
.Home-Page .top-wrapper {
  background: url("../imgs/Place Your Design Here.png");
  min-height: 750px;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}
.Home-Page .top-wrapper .banner .banner-wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
  align-items: center;
}
.Home-Page .top-wrapper .banner .banner-wrapper .heading {
  padding-inline: 50px;
  margin-left: -50px;
}
.Home-Page .top-wrapper .banner .banner-wrapper .heading .top-heading {
  margin-block: 0px;
  font-size: 102px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding-block: 10px;
  position: relative;
  z-index: 1;
}
.Home-Page .top-wrapper .banner .banner-wrapper .heading .top-heading:before {
  content: "";
  width: 0.5px;
  height: 80px;
  background-color: #FFBA00;
  position: absolute;
  z-index: -1;
  left: -120%;
  top: 50%;
}
.Home-Page .top-wrapper .banner .banner-wrapper .heading .th-1 {
  margin-top: 10px;
  margin-left: -50px;
}
.Home-Page .top-wrapper .banner .banner-wrapper .heading .th-2 {
  margin-top: -50px;
}
.Home-Page .top-wrapper .banner .banner-wrapper button.read-more {
  padding: 15px 20px;
  margin-top: 150px;
  background-color: #FFBA00;
  border: 2px solid #fff;
  border-radius: 15px;
}
.Home-Page .top-header .top-navigation {
  display: flex;
  max-width: 1440px;
  align-items: center;
}
.Home-Page .top-header .top-navigation .logo-wrapper {
  width: 10%;
  padding: 10px 130px;
}
.Home-Page .top-header .top-navigation .logo-wrapper a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  z-index: 10;
}
.Home-Page .top-header .top-navigation .logo-wrapper a:before {
  content: "";
  width: 100%;
  height: 50px;
  background-color: #FFBA00;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -20px;
}
.Home-Page .top-header .top-navigation ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.Home-Page .top-header .top-navigation li {
  list-style: none;
  padding: 10px 35px;
}
.Home-Page .top-header .top-navigation li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
}