.Home-Page {
    .top-wrapper {
        background: url('../imgs/Place Your Design Here.png');
        min-height: 750px;
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        .banner {
            .banner-wrapper {
                display: flex;
                width: 100vw;
                justify-content: center;
                flex-wrap: wrap;
                height: 70vh;
                align-items: center;
                .heading{
                    padding-inline:50px;
                    margin-left: -50px;
                    .top-heading {
                        margin-block:0px;
                        font-size: 102px;
                        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        color: white;
                        padding-block: 10px;
                        position: relative;
                        z-index: 1;
                        &:before {
                            content: "";
                            width: 650px;
                            height: 80px;
                            background-color: #FFBA00;
                            position: absolute;
                            z-index: -1;
                            left: -120%;
                            top: 50%;
                        }
                    }
                    .th-1 {
                        margin-top: 10px;
                        margin-left: -50px;
                    }
                    .th-2 {
                        margin-top: -50px;
                    }
                
                }
                button.read-more {
                    padding: 15px 20px;
                    margin-top: 150px;
                    background-color: #FFBA00;
                    border: 2px solid #fff;
                    border-radius: 15px
                }
            }
          
        }
    }
    
    .top-header{
        .top-navigation{
            display:flex;
            max-width: 1440px;
            align-items: center;
            .logo-wrapper {
                width: 10%;
                padding: 10px 130px;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 22px;
                    position: relative;
                    z-index: 10;
                 &:before {
                     content:'';
                     width: 100%;
                     height: 50px;
                     background-color: #FFBA00 ;
                     position: absolute;
                     z-index: -1;
                     top: 0px;
                     left: -20px;
                 }   
                }
            }
            ul {
                display:flex;
                justify-content: flex-end;
                width: 100%;
                
            }
            li {
                list-style: none;
                padding: 10px 35px;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 22px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
        }
    }
}
  
